<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.dao.DoctorDao">
    <resultMap id="DoctorMap" type="com.hospital.entity.Doctor">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="rate" jdbcType="DOUBLE" property="rate" />
        <result column="appointNum" jdbcType="INTEGER" property="appoint_num" />
        <result column="skills" jdbcType="VARCHAR" property="skills" />
        <result column="headImageUrl" jdbcType="VARCHAR" property="head_image_url" />
        <result column="departId" jdbcType="INTEGER" property="depart_id" />
    </resultMap>

    <resultMap id="AppointTimeMap" type="com.hospital.entity.AppointTime">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="appointDate" jdbcType="VARCHAR" property="appoint_date" />
        <result column="timeSpan" jdbcType="VARCHAR" property="time_span" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="doctorId" jdbcType="INTEGER" property="doctor_id" />
        <result column="totalNum" jdbcType="INTEGER" property="total_num" />
        <result column="appointNum" jdbcType="INTEGER" property="appoint_num" />
        <result column="status" jdbcType="BIT" property="status" />
    </resultMap>

    <resultMap id="DoctorAdminMap" type="com.hospital.entity.DoctorAdmin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <resultMap id="DoctorDepartMap" type="com.hospital.entity.DoctorDepart">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="department" jdbcType="VARCHAR" property="department" />
    </resultMap>

    <select id="getDoctorByDepartId" resultMap="DoctorMap" parameterType="Map">
      select d.* from t_doctor d where d.depart_id=${departId}
    </select>

    <select id="getDoctorById" resultMap="DoctorMap" parameterType="Map">
      select d.* from t_doctor d where d.id=${id}
    </select>

    <select id="getRecommendDoctor" resultMap="DoctorMap">
      select * from t_doctor order by (rate+appoint_num/500) DESC LIMIT 100
    </select>

    <select id="getAppointTime" resultMap="AppointTimeMap" parameterType="Map">
      select * from t_appoint_time where doctor_id=${doctorId} and status=false
    </select>

    <select id="getAppointCount" resultType="Integer" parameterType="Map">
      select sum(a.total_num-a.appoint_num) from t_appoint_time a where a.doctor_id=${doctorId} and a.status=false
    </select>

    <select id="getAppointTimeById" resultMap="AppointTimeMap" parameterType="Map">
      select * from t_appoint_time where id=${id}
    </select>

    <update id="appointOrder" parameterType="Map">
      update t_appoint_time t set t.appoint_num=t.appoint_num+1 where id=#{id}
    </update>

    <update id="cancleAppoint" parameterType="Map">
        update t_appoint_time set appoint_num=appoint_num-1 where id=${id}
    </update>

    <select id="getAllDoctor" resultMap="DoctorDepartMap">
      select d.id,d.name,t.name department from t_doctor d JOIN t_depart t ON(t.id=d.depart_id)
    </select>

    <select id="getAdminDoctorById" resultMap="DoctorAdminMap" parameterType="DoctorAdmin">
      select d.account,d.password from t_doctor d where d.id=${id}
    </select>

    <insert id="addAppointTime" parameterType="AppointTime">
        insert into t_appoint_time(appoint_date, time_span, price, doctor_id, total_num, appoint_num, status)
         values(#{appointDate}, #{timeSpan}, ${price}, ${doctorId}, ${totalNum}, 0, 0)
    </insert>

    <update id="delAppointTime" parameterType="Map">
        update t_appoint_time set status=1 where id=${id}
    </update>
</mapper>